/* Estilos adicionales */
.navbar {
    background-color: white; /* Color de fondo de la barra de navegación */
    padding: 0;
    width: 100%;
    justify-content: center!important;
    display: flex;
    font-family: "Spectral", serif;
    font-weight: 600;

}
body{
    font-family: "Merriweather", serif!important;
    background-color: white!important;
}

input{
    border: none;
    width: 60%;
}

input:focus{
    outline: none;
    border-color: black!important;
    transition: 1000ms;
}

.navbar-nav{
    gap: 1rem;
}

.navbar-nav .nav-link {
    color: black; /* Color del texto */
    font-size: 1rem; /* Tamaño de la fuente */

}

.navbar-nav .nav-link:hover {
    color: #C4B7B5!important; /* Color del texto */
    font-size: 1rem; /* Tamaño de la fuente */

}

.form-control {
    width: 30vw!important;
}

.login{
    margin-bottom: 0!important;
    font-size: 15px!important;
}
.login:hover{
    color: gray;
    transition: 300ms;
}

a{
    text-decoration: none!important; /* Eliminar subrayado */
}

.small-container{
    height: 4px!important;
}

.dropdown-item:hover{
    background-color: lightgray!important;
}

.notificaciones:hover{
    background-color: white!important;
}


/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .texto-normal {
        font-size: 14px; /* Tamaño de texto más pequeño para pantallas pequeñas */
    }

    .d-flex{
        flex-wrap: wrap;
        width: 100%;
    }

    .form-control {
        width: 50vw!important;
    }
    .div.col.mx-5.mb-3{
        margin-left: 0!important;
    }
    .container{
        margin: 0!important;
        padding: 0!important;
    }
}

/*.navbar-nav .nav-item:hover {
    background-color: #555; /* Cambia el color de fondo al pasar el ratón por encima 
    border-radius: 10px;
}*/
