.news-card {
    border: none;
    border-radius: 0px!important;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agregamos box-shadow a la transición */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Añadimos una sombra predeterminada */
    background-color: #C4B7B5;
    background: linear-gradient(to top, #d3c8c7, #ffffff);
    max-width: 350px;
}


.card-footer{
    background-color: #d3c8c7!important;
    border-top: 1px solid rgba(0, 0, 0, 0.2)!important; /* Ajusta el color y la opacidad según sea necesario */
}

.carta{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 10vh;
}



.news-card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4); /* Cambiamos la sombra al hacer hover */
    transition: 500ms;
}

.card-img-top {
    height: 180px;
    object-fit: cover;
    border-radius: 0px!important;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

.author-info {
    color: #666;
    margin-bottom: 0;
}

.author-name {
    font-weight: bold;
}

.card-footer {
    background-color: #f8f9fa;
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.text-muted {
    color: #999;
    font-size: 0.875rem;
}